header{
    background-color: #40DFEF;
    display: flex;
    flex-direction: row;
    padding: auto;
}
nav{
    background-color: #B9F8D3;
    list-style: none;
    padding: 12px;
}

section{
    background-color: #FFFBE7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: #EFFFFD;
    grid-column: 1/4;
}
aside{
    background-color: #85F4FF;
    grid-column: 4/5;
}
footer{
    background-color: #E78EA9;
}
.Menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.Menu > li{
    float: left;
}
.Menu li:hover > ul{
    display: block;
}
.Menu li a:hover{
    background-color: aquamarine;
}
.Menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}